@import "../base/variables";
@import "../vendor/bootstrap/mixins";

.article-form {

  .body-wrapper {
    @include make-sm-column-offset(2);
    @include make-sm-column(8, 0);
    margin: 40px;
    box-shadow: $elevation-4dp;
    border-radius: 2px;
  }

  .body {
    background: white;

    section {
      padding: 34px 50px;
      border-bottom: 1px solid $table-border-color;

      .heading {
        display: inline-block;
        font-size: 24px;
        margin-bottom: 20px;
        color: $colorGrey900;
      }
    }
  }

  .submit {
    text-align: right;

    button {
      @extend .btn, .btn-primary;
      margin-top: 10px;
      padding: 8px 15px;
      transition: all 200ms ease-in;
    }
    button:hover {
      box-shadow: $elevation-2dp;
    }
  }

  label {
    color: $colorGrey700 !important;
    margin: 0 0 5px 0 !important;
  }

  input, textarea {
    background: $colorGrey50 !important;
    border: 1px solid $colorGrey400 !important;
    padding: 10px !important;
    margin: 0 0 !important;
  }

}

.article-form.sticky {
  padding-top: 50px;
}