@import "../base/variables";

.brand {

  .menu-icon {
    float: left;
    padding: 18px 0 18px 18px;
    display: inline-block;
    cursor: pointer;
  }

  .brand-text {
    float: left;
    display: inline-block;
    padding: 21px 18px;
    text-decoration: none;
  }
}