@import "../../base/variables";
@import "../../base/palette";

.loader {
  width: 100%;
  text-align: center;

  .img-wrapper {
    margin: 200px auto auto;
  }

  img {
    width: 80px;
    height: 80px;
  }
}