.text-field, .textarea-field {
  @extend .form-group;

  label {
    @extend .control-label;
    margin-top: 15px;
    font-weight: 400;
    color: $color500;
  }

  input {
    @extend .form-control;
    box-shadow: none;
    padding: 5px 10px;
    border: 1px solid $colorGrey400;
    margin: 15px 0;
  }

  input:focus, textarea:focus {
    border-color: $color300;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  textarea {
    @extend .form-control;
    box-shadow: none;
    padding: 12px;
    border: 1px solid $colorGrayLight;
  }
}

.text-field.error, .textarea-field.error {
  label {
    color: $brand-danger !important;
  }
  input {
    border-color: $brand-danger !important;
  }
}