@import "palette";
@import "../vendor/bootstrap/variables";

$color50:   nth($paletteBlue, 1);
$color100:  nth($paletteBlue, 2);
$color200:  nth($paletteBlue, 3);
$color300:  nth($paletteBlue, 4);
$color400:  nth($paletteBlue, 5);
$color500:  nth($paletteBlue, 6);
$color600:  nth($paletteBlue, 7);
$color700:  nth($paletteBlue, 8);
$color800:  nth($paletteBlue, 9);
$color900:  nth($paletteBlue, 10);
$colorA100: nth($paletteBlue, 11);
$colorA200: nth($paletteBlue, 12);
$colorA400: nth($paletteBlue, 13);
$colorA700: nth($paletteBlue, 14);

$elevation-2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
0 3px 1px -2px rgba(0, 0, 0, 0.2),
0 1px 5px 0 rgba(0, 0, 0, 0.12);
$elevation-3dp: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
0 3px 3px -2px rgba(0, 0, 0, 0.2),
0 1px 8px 0 rgba(0, 0, 0, 0.12);
$elevation-4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
0 1px 10px 0 rgba(0, 0, 0, 0.2),
0 2px 4px -1px rgba(0, 0, 0, 0.12);
$elevation-6dp: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
0 1px 18px 0 rgba(0, 0, 0, 0.2),
0 3px 5px -1px rgba(0, 0, 0, 0.12);
$elevation-8dp: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
0 3px 14px 2px rgba(0, 0, 0, 0.2),
0 5px 5px -3px rgba(0, 0, 0, 0.12);

$brand-primary: $color500;

$btn-primary-bg: $color500;

$brand-danger: $colorRed500;
$brand-info: $colorLightBlue500;
$state-danger-text: $colorRed700;
$state-danger-bg: $colorRed500;
$input-border-focus: $colorBlue500;
$font-family-base: 500 15px/20px "museo-sans-rounded",sans-serif;

$border-radius-base: 2px;
$border-radius-small: 2px;
$border-radius-large: 2px;
$input-border-radius: 2px;
$btn-border-radius-base: 2px;

$navbar-height: 64px;
$search-box-margin: 12px;
$xs-navbar-height: ($navbar-height * 2) - $search-box-margin + 4;

$modal-md: 420px;